# IDE files
/.idea/
/.vscode/

# Documentation build files
*/_build/

# Pipenv cache
/.cache/

# Python backup files
*.pyc

# Testing files
/.pytest_cache/
/.coverage
/htmlcov/

# Virtualenvs
/venv*/
