[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
sphinx = "==1.8.5"
pycodestyle = "*"
pytest-cov = "*"
mock = "*"
pydocstyle = "==3.0.0"

[requires]
python_version = "3.7"

[packages]
# cothread = "*" # Leave for now until libca.so and python 3.7 issues fixed.
