[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pycodestyle = "*"
pytest-cov = "*"
mock = "*"
configparser = "*" # Mysteriously needed by python 2.7 for pydocstyle.
pydocstyle = "*"
coveralls = "*"

[requires]
python_version = "3.7"

[packages]
cothread = ">=2.15"
sphinx = "==2.0.1"
